html {scroll-behavior: smooth;}
body {

  font-family: 'Ubuntu', sans-serif;
    font-size: 16px;
    line-height: 1.9em; 
    background-color: #fff;
    margin: 0; 
    padding: 0;
}

h1 {
   font-size: 55px;
   font-weight: bold;
   text-transform: uppercase;
}

h2 {
  font-size: 45px;
  font-weight: bold;
}

h5 {
  font-size: 30px;
  color: #000;
}

p,li {
  font-size: 20px;
  color: #6c757d
}

a {
    color: #444; 
    text-decoration: none; 
    transition: 0.3s;
}

#myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: #99004d;
  cursor: pointer;
}
.topbtn button:hover{
    background: #000;
    color: #fff;
}

.main-button {
  display: inline-block;
  position: relative;
  z-index: 1;
  padding: 15px 35px;
  font-size: 18px;
  line-height: 29px;
  border-radius: 40px;
  border: none;
  white-space: nowrap;
  overflow: hidden;
  text-align: center;
  cursor: pointer;
}

.web-btn{
  color: #000;
  background-color: transparent;
  box-shadow: inset 0 0 0 3px #000;
}

 .web-btn:hover {
  background: #99004d;
  color: #fff;
} 


.bg-color{
  background: #111213;
  border-bottom: 3px solid #99004d;
}

.sticky-top {
  position: sticky;
  top: 0;
  z-index: 1020;
}

.nav-link {
  font-size: 16px;
  text-transform: uppercase;
}

.navbar-dark .navbar-nav .nav-link {
  color: #fff;
  text-transform: uppercase;
  font-size: 16px;
}

.navbar-dark .navbar-nav .nav-link:hover {
  color: #99004d !important;
  text-decoration: none;
}



.banner{
  background-image: url(images/banner-bg.png);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  padding: 190px 0px;
}


.banner h1{
  font-size: 70px;
  font-weight: bold;
  text-transform: uppercase;
  color: #fff;
}


.banner h3{
  font-size: 45px;
  font-weight: bold;
  text-transform: uppercase;
  color: #fff;
}

.banner h5{
  font-size: 25px;
  color: #fff;
}

.logo{
  font-weight: bolder;
}

.about a{
  text-decoration: none;
}

.code-color{
  color:  #99004d;
}

.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
  color: #fff;
  background-color: #99004d;
}

.spacing-left{
  padding-left: 150px;
}

.add_no a{
  text-decoration: none;
  color: #000;

}
.text-facebook{
  color: #3b5998;
}

.text-insta{
  color: #da257f;
}

.lg-outer .lg-thumb-outer {
  display: none;
}

.lg-outer.lg-pull-caption-up.lg-thumb-open .lg-sub-html {
  display: none;
}

#lg-counter {
  color: 	#99004d;
}

.lg-toolbar .lg-icon {
  color: 	#99004d;
}

.my-info a{
  text-decoration: none;
  color: #000;
  font-style: inherit;
}


@media only screen and (max-width:600px){
  h1 {
    font-size: 40px;
    font-weight: bold;
    text-transform: uppercase;
 }

 .banner h1{
  font-size: 50px;
  font-weight: bold;
  text-transform: uppercase;
  color: #fff;
}


.banner h3{
  font-size: 30px;
  font-weight: bold;
  text-transform: uppercase;
  color: #fff;
}

.spacing-left {
  padding-left: 10px;
}

.about img{
  width: 100%;
  height: auto;
}

.media-icon,.pl-5 {
  padding-left: 1rem!important;
}

}